@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800 & display=swap' );
*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Anek Malayalam', sans-serif;
    background-color: #f8f9fa;
    overflow-x: hidden;
    }
table{
    width: 100vw;
    text-align: center;
   
}

.header{
    background-color: #10502f;
    color: whitesmoke;
    box-shadow: 0px 2px 4px #888888;
    border-collapse: collapse;
    font-size: 0.74em;

}

#logo td{
    height: 48px;
    padding-top: 4px;
    
}

td{
    height: 50px;
    width: 100px;
    color: #9bd7a9;
}

.nav-conteudo-lateral{
    width: 100px;
}

.nav-destacado{
    border-bottom: 3px solid white;
    color: #ffff;
}
.nav-destacado:hover{
     background-color: #0e482a; 
    cursor: pointer;
}

.tabela-brasileirao th{
 border-top: 1px #dadec0;
 font-weight: 100;
 color: #70758d;
 padding: 4px;
 height: 35px;
}
.tabela-brasileirao td{
    border-top: 1px #cccfb3;
    font-weight: 100px;
    color: black;
    padding-top: 1px;
    height: 35px;
    font-size: 1.0em;

}
.tabela-brasileirao img{
    width: 25px;
}
    .tabela-colunas-bordas{
        border-top: none !important;

    }

.tabela-brasileirao{
    border: 1px #e9eaeb;
    border-top: none;
    border-bottom: none;
    width: 60vw;
    margin-left: 20%;
    color: black;
}
#tabela-brasileirao-header{
    padding: 15px;
    padding-left: 30px;
    background-color: #f1f2f3f4;
    text-align: left;
    color:#70758d;
}

.titulo-clube{
    width: 50px;
    text-align: left;
}

.titulo-ultimas-cinco{
    width: 20%;
}
.titulo-ultimas-cinco img{
    width: 17px;
}

.borda-azul{
    border-left: 3px solid #4285f4;
}
.borda-laranja{
    border-left: 3px solid #fa7b17;
}
.borda-verde{
    border-left: 3px solid #34a853;
}
.borda-vermelha{
    border-left: 3px solid #ea4335;
}